h1 {
  color: #2150d2;
  margin-top: 50px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 80px;
  padding: 40px;
}
#contact-page-h1 {
  padding-top: 150px;
}
h2 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  padding: 50px;
}
h3 {
  font-family: "Playfair Display", serif;
  color: #2150d2;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}
p {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  padding: 20px;
}

.header {
  background-image: url(/images/top.jpg);
  background-color: transparent;
  background-size: cover;
  margin-top: 0;
}

.avatar {
  margin-top: 400px;
  max-width: 200px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  text-decoration: underline;
}

.showcase {
  margin-top: 150px;
  margin-bottom: 150px;
}

.showcase img {
  max-width: 400px;
  max-height: 400px;
}

.navigation-link {
  text-decoration: none;
  background-color: #afe1ca;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 24px;
  margin: 15px;
}
#about-page-h2 {
  padding-top: 150px;
}
.grid-images {
  max-width: 400px;
}
@media (max-width: 992px) {
  .avatar {
    max-width: 100px;
    margin-top: 80px;
  }
  h1 {
    font-size: 30px;
    margin-top: 20px;
    padding: 0;
  }
  #contact-page-h1 {
    padding-top: 100px;
  }
  h2 {
    margin-top: 20px;
    font-size: 18px;
    padding: 20px;
  }
  .showcase {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .navigation-link {
    font-size: 15px;
    display: block;
    margin: 10px auto;
  }
}
